<h1>Shopping_Cart</h1>

<ul id="products">
  <% @products.each do |product| %>
    <li>
      <strong><%= product.name %></strong>
      <%= simple_format(product.description) %>
      <em><%= product.price %></em>
      <br />
      <%= link_to "Details", product_path(product) %>
    </li>
  <% end %>
</ul>
